<h2>Update Instagram</h2>

<form>
  <input type="text" placholder="vm.instagram.author" data-ng-model="vm.instagram.author"/>Title<br>
  <input type="text" placholder="vm.instagram.body" data-ng-model="vm.instagram.body"/>Author<br>
  <input type="text" placholder="vm.instagram.photo_url" data-ng-model="vm.instagram.photo_url"/>Photo<br><br>
  <textarea placeholder="vm.instagram.content" data-ng-model="vm.instagram.content"></textarea>
  <button type="button" data-ng-click="vm.update()">Update Instagram</button>
  <button type="button" data-ng-click="vm.destroy()">Delete</button>
</form>
